/*Question 1 starts here*/
/*this is the code to style the slider that changes colour*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: url('ligh_blue_background.png');
  padding: 20px;
  transition: all 0.3s ease;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  padding-top: 350px;
}
body.blue{
  background: url('dark_blue_background.png');
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
}
body.red{
  background: url('red_background.png');
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
}
body.orange{
  background: url('orange_background.png');
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
}

body.yellow{
  background: url('yellow_background.png');
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
}

body.green{
  background: url('green_background.png');
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
}

.wrapper{
  background: none;
  padding: 30px 40px 40px;
  border-radius: 10px;
  max-width: 350px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
}
.wrapper .section{
  height: 140px;
  width: 140px;
  overflow: hidden;
}
.wrapper .section .emojis{
  height: 500%;
  display: flex;
  flex-direction: column;
}
.wrapper .section li{
  height: 20%;
  width: 100%;
  list-style: none;
  transition: all 0.3s ease;
}
.section li img{
  height: 100%;
  width: 100%;
}
.wrapper .slider{
  margin-top: 40px;
  height: 12px;
  width: 100%;
  position: relative;
  background: #d9d9d9;
  border-radius: 50px;
}
.slider input{
  height: 100%;
  width: 100%;
  -webkit-appearance: none;
  position: absolute;
  background: none;
  outline: none;
  top: 0;
  z-index: 2;
}
.slider input::-webkit-slider-thumb{
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background: none;
  cursor: pointer;
}
.slider .progress-bar{
  height: 100%;
  width: 0%;
  background: url('ligh_blue_background.png');
  border-radius: 50px;
  position: relative;
}
body.blue .progress-bar{
  background: url('dark_blue_background.png');
}
body.red .progress-bar{
  background: url('red_background.png');
}
body.orange .progress-bar{
  background: url('orange_background.png');
}

body.yellow .progress-bar{
  background: url('yellow_background.png');
}

body.green .progress-bar{
  background: url('green_background.png');
}
.slider .thumb{
  height: 25px;
  width: 25px;
  background: #5892fd;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  z-index: 1;
  padding: 2px;
}
body.blue .thumb{
  background: #5892fd;
}
body.red .thumb{
  background: #fe5a54;
}
body.orange .thumb{
  background: #FED151;
}

body.yellow .thumb{
  background: #fef251;
}

body.green .thumb{
  background:#96fe51;
}
.slider .thumb span{
  height: 100%;
  width: 100%;
  border: 2px solid #f6f6f6;
  border-radius: 50%;
  background: url('ligh_blue_background.png');
  display: block;
}
body.blue .thumb span{
  background: url('dark_blue_background.png');
}
body.red .thumb span{
  background: url('red_background.png');
}
body.orange .thumb span{
  background: url('orange_background.png');
}

body.yellow .thumb span{
  background: url('yellow_background.png');
}

body.green .thumb span{
  background: url('green_background.png');
}