@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Libre Baskerville');

.wrapper {
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
   }
   .wrapper > * {
    padding: 10px;
    flex: 1 100%;
   }

   p {
    font-family: "Montserrat";
    color: #003566;
    
   }

   .lead-p {
    font-family: "Montserrat";
    color: #003566;
    text-align: center;
    font-size: 22px;    
    }

   h1 {
    font-family: "Libre Baskerville";
    color: #003566;
   }

   h2 {
    font-family: "Libre Baskerville";
    color: #003566;
   }

   h3 {
    font-family: "Montserrat";
    color: #003566;
   }

   h4 {
    font-family: "Montserrat";
    color: #003566;
    font-size: 20;
   }

 /*logo image*/
   header .logo {
    background-repeat:no-repeat;
    background-position:center;
    margin-top: 50px;
    height: 170px; 
    width: 170px;   
   }
   .footer {
    background: none;
   }
   .main {
    text-align: cent;
    padding-bottom: 20px;
    
   }
   .aside-1 {
    background: none;
   }
   .aside-2 {
    background: none;
   }

    .btn {
    border: none;
    background: #FFFFFF;
    box-shadow: 5px 5px 14px 2px rgba(0,0,0,0.26);
    border-radius: 38px;
    display: flex;
    font-size: medium;
    font-weight: 700;
    align-self: center;
    padding: 1.2em 2.8em;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    text-decoration: none;
    width: fit-content;
   }

   @media all and (min-width: 600px) {
    .aside { flex: 1 0 0; }
   }
   @media all and (min-width: 800px) {
    .main { flex: 4 0px; }
    .aside-1 { order: 2; }
    .main { order: 3; }
    .aside-2 { order: 4; }
    .footer { order: 5; }
    .logo {order: 1;}
   }
   
 /*backgound image*/
   body {
    padding: 2em;
    background:linear-gradient(#72bbff, #0b37b1);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    position: relative;
    height: 90vh;
   }